@font-face {
	font-family: NexaBlack;
	src: url("NexaBlack.otf");
}

@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

html, body
{
	/* height: 100%; */
	background-color: rgb(15, 13, 37);
	margin: 0;
	font-family: 'Lato', sans-serif;
}

h1
{
	font-family: NexaBlack;
	font-size: 10vw;
	color: #fff;
}

#main-page h1
{
	position: absolute;
	/* background: linear-gradient(to right, #ff0000, #00FF00); */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: RGBSHHHHEEEEEEEEEEESH .5s ease-in-out infinite alternate-reverse;
	user-select: none;
}

@keyframes RGBSHHHHEEEEEEEEEEESH
{
	0%
	{
		background-color: #FF0000;
	}
	50%
	{
		background-color: #0000ff;
	}
	100%
	{
		background-color: #00ff00;
	}
}

#main-page
{
	height: 100%;
	width: 100%;
	/* background-color: rgba(0, 0, 0, 0.4); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* Align top edge at the middle, same for left edge, then translate 50% of button
	   size to get it fully centered on page (and not center it's top left corner) */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#main-page > canvas
{
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
}

#login-btn
{
	padding: 1em 2em;
	border: 3px solid #fff;
	text-decoration: none;
	color: white;
	border-radius: 2px;
	background: rgba(0,0,0,0.2);
	margin-top: 25%;
	font-size: 20px;
	font-weight: 700;
}

#main
{
	margin-left: 25%;
}

#sidebar
{
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
}