html, body
{
	/* height: 100%; */
	background-color: rgb(226, 204, 0);
	margin: 0;
}

#main-page
{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* Align top edge at the middle, same for left edge, then translate 50% of button
	   size to get it fully centered on page (and not center it's top left corner) */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#main-page > canvas
{
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
}

#login-btn
{
	padding: 1em 2em;
	border: 3px solid #fff;
	text-decoration: none;
	color: white;
	border-radius: 2px;
	background: rgba(0,0,0,0.2);
}

#main
{
	margin-left: 25%;
}

#sidebar
{
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
}