$sidenav-mobile-width: 250px;
$sidenav-desktop-width: 100%;
$sidenav-transition: 0.3s ease-in-out;

$sidenav-bg-color: #071531;
$sidenav-btn-fg-color: #d9911c;
$sidenav-btn-fg-hover-color: #e59b1e;
$sidenav-btn-bg-color: #7c500b;

@media (max-width: 980px)
{
	.hidden
	{
		transform: translateX(-$sidenav-mobile-width);
	}
	.sidenav-toggle
	{
		display: block;
		opacity: 1;
	}
	.pushable-back
	{
		width: $sidenav-mobile-width - 20px;
	}
	.sidenav
	{
		position: fixed;
		top: 0;
		left: 0;
		width: $sidenav-mobile-width;
		height: 100%;
		transition: transform $sidenav-transition;
	}
	ul
	{
		flex-direction: column;
		margin-top: 15px;
	}
}

@media (min-width: 980px)
{
	.hidden
	{
		transform: translateX(0);
	}
	.sidenav-toggle
	{
		display: none;
		opacity: 0;
	}
	.pushable-back
	{
		width: 200px;
	}
	.sidenav
	{
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		height: 90px;
		border-bottom: 2px solid #0e2554;
	}
}

.sidenav
{
	background-color: $sidenav-bg-color;
}

@keyframes fadeIn
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

.sidenav-toggle
{
	position: fixed;
	top: 7px;
	left: 7px + $sidenav-mobile-width;
	padding: 10px 15px;
	cursor: pointer;
	transition: transform $sidenav-transition;
	color: white;
	border-radius: 5px;
	background-color: #838383;

	&:hover
	{
		background-color: #939393;
	}
}

.pushable-back
{
	height: 60px;
	border: none;
	border-radius: 999px;
	outline: none;
	background-color: $sidenav-btn-bg-color;
}

.pushable-front
{
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 10px 32px;
	cursor: pointer;
	transition: transform 250ms;
	transform: translateY(-5px);
	color: black;
	border-radius: 999px;
	background-color: $sidenav-btn-fg-color;
	will-change: transform;
	// nested .hover will compile to .pushable-front :hover as nested .child will compile to .pushable-front .child
	// to "stick them" together use & so that it becomes .pushable-front:hover or pushable-front.child
	&:hover
	{
		transform: translateY(-6px);
		background-color: $sidenav-btn-fg-hover-color;
	}

	&:active
	{
		transform: translateY(-2px);
	}
}

ul
{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 15px;
}
