<!-- Sidenav is hidden by default on mobile -->
<button (click)="toggleSideNav()" class="fa-solid fa-bars sidenav-toggle hidden"></button>
<div class="sidenav hidden">
	<ul>
		<li>
			<button class="pushable-back">
				<span class="pushable-front">Jte baise</span>
			</button>
		</li>
		<li>
			<button class="pushable-back">
				<span class="pushable-front">Moi aussi</span>
			</button>
		</li>
		<li>
			<button class="pushable-back">
				<span class="pushable-front">Bing chilling</span>
			</button>
		</li>
	</ul>

</div>