.particle-heads-background
{
	//position: fixed;
	//top: 0;
	//left: 0;
	//width: 100%;
	//height: 100%;
	background-color: #0f0d25;
}

.canvas-wrapper
{
	overflow: hidden; // To allow shrinking of the canvas
	width: 100%;
	height: 100%;
}