.chatbox-wrapper
{
	font-family: "Lato", sans-serif;
	position: fixed;
	right: 0;

	bottom: 0;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	width: 800px;
	height: 400px;

	border-radius: 15px 15px 0 0;
}

.chatbox-header
{
	line-height: 50px;
	flex: 0 0 50px;
	text-align: center;
	background-color: rgb(45, 37, 66);
}

.chatbox-body
{
	display: flex;
	flex-direction: row;
	height: calc(100% - 50px);
}

.chatbox-friends-list
{
	overflow-x: hidden;
	overflow-y: auto;

	width: 30%;
	background-color: rgb(11, 6, 49);
}

.chatbox-friends-list li
{
	font-size: 1rem;
	font-weight: 600;
	overflow-x: hidden;
	margin: 7px 5px;
	padding: 14px;
	cursor: pointer;
	transition: background-color 250ms;
	white-space: nowrap;

	text-overflow: ellipsis;
	color: #fff;
	border-radius: 5rem;
	background-color: rgb(94, 66, 128);

}

.chatbox-friends-list li:hover
{
	background-color: rgb(109, 94, 148);
}

.chatbox-messages-history
{
	font-size: 0.9rem;
	display: flex;
	overflow-y: auto;
	flex-direction: column;
	width: 70%;

	height: calc(100% - 60px);
	list-style: none;
	border-bottom: 1px solid #fff;

	background-color: rgb(11, 6, 49);
}

.chatbox-messages-history .left
{
	align-self: flex-start;
	max-width: 70%;
	margin: 10px;
	padding: 10px;

	text-align: left;
	border-radius: 15px;

	border-bottom-left-radius: 3px;
	background-color: rgb(161, 38, 128);
}

.chatbox-messages-history .right
{
	align-self: flex-end;
	max-width: 70%;
	margin: 10px;
	padding: 10px;

	text-align: left;
	border-radius: 15px;

	border-bottom-right-radius: 3px;
	background-color: rgb(44, 38, 161);
}

.chatbox-messages-history img
{
	width: 30px;
	height: 30px;
}

.chatbox-input
{
	position: absolute;
	right: 0;
	bottom: 0;

	width: calc(70% - 10px);
	height: 40px;
	margin: 10px 5px;
}

.chatbox-input input[type="text"]
{
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 999px;
	outline: none;
}

.chatbox-input input[type="text"], .chatbox-input input[type="text"]::placeholder
{
	font-size: 1rem;
	font-weight: 600;
	color: rgb(173, 158, 187);
	background-color: rgb(96, 76, 111);
}
