@media (max-width: 800px)
{
	.login-btn
	{
		font-size: 15px;
	}
}

@media (min-width: 800px)
{
	.login-btn
	{
		font-size: 20px;
	}
}

.login-btn
{
	font-family: Lato;
	font-weight: 700;
	padding: 1em 2em;
	cursor: pointer;
	user-select: none;
	transition: background-color 200ms ease;
	text-decoration: none;
	color: white;
	border: 3px solid #aaaaaa;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(1px);
}

.login-btn:hover
{
	background-color: rgba(50, 50, 50, 0.35);
}

.login-btn:focus
{
	outline: 0;
}